# Python build/dist directories
build/
dist/

# License files
mega-uplv-cf(LD)/license.bin
mega-uplv-lq(LD)/license.bin
mega-login-cf(LD)/license.bin

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller files
*.spec
!mega-uplv-lq(LD)/MegaUpLvTool_BoxPhone.spec
!mega-uplv-lq(LD)/MegaLQCSCheo.spec
!mega-uplv-lq(LD)/MegaUpLvTool_CS_Cheo.spec
!mega-uplv-lq(LD)/MegaUpLvTool.spec

# Env files
.env
venv/
.venv/

# AI Agent
.agent/
